#loeschen {
    background-color: red;
    color: white;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    font-size:20px;
}
#dialog {
    color:red;
    margin:3px;
    font-size: 20px;
}
#dialog2 {
    color:red;
    margin:3px;
    font-size: 20px;
}